@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Core.Extensions
@{
    var className = Html.GetFormFieldClass(Model.FieldTypeName).ToHtmlString();
}
<select class="@className" name="@Model.Name" id="@Model.Id"
        @if (Model.Mandatory) { <text> data-val="true" data-val-required="@Model.RequiredErrorMessage" </text> }>
    <option value=""></option>
    <option value="Female" @if (Model.ContainsValue("Female")) { <text> selected="selected" </text> }>Female</option>
    <option value="Male" @if (Model.ContainsValue("Male")) { <text> selected="selected" </text> }>Male</option>
    <option value="Unspecified" @if (Model.ContainsValue("Unspecified")) { <text> selected="selected" </text> }>Unspecified</option>
</select>
@{if (Model.AdditionalSettings.ContainsKey("ExampleHtmlSetting") && string.IsNullOrEmpty(Model.AdditionalSettings["ExampleHtmlSetting"]) == false)
    {
        <p>@Html.Raw(Model.AdditionalSettings["ExampleHtmlSetting"].ParsePlaceHolders().Replace(System.Environment.NewLine, "<br />"))</p>
    }}
